OM_URL=https://ops-manager.tanzu.kirkware.net
OM_FQDN=ops-manager.tanzu.kirkware.net
OM_SKIP_SSL_VALIDATION=true
OM_TRACE=false
OM_TARGET=ops-manager.tanzu.kirkware.net
OM_ADMIN_USERNAME=admin
OM_ADMIN_PASSWORD=REDACTED
BOSH_COMMANDLINE_CREDENTIALS=REDACTED
OM_BOSH_DIRECTOR_PASSWORD=REDACTED
OM_CLIENT_ID=opsman_om
OM_CLIENT_SECRET=REDACTED
OM_REQUEST_TIMEOUT=7200
CREDHUB_PASSWORD=REDACTED
HUB_FQDN=hub.tanzu.kirkware.net
HUB_URL=https://hub.tanzu.kirkware.net
TANZU_PLATFORM_URL=https://hub.tanzu.kirkware.net
TANZU_PLATFORM_OAUTH_APP_ID=VV20DxLADjqRoBb0CYmo5WjhDQbrkLe
TANZU_PLATFORM_OAUTH_APP_SECRET=REDACTED
TANZU_PLATFORM_API_ID=3fde7ad5-8271-4a50-a23a-c6dc7d00abca
TANZU_PLATFORM_ORG_ID=4b739083-fce2-447c-a89d-c4d27c3b86dd
HUB_ADMIN_USERNAME=tanzu_platform_admin
HUB_ADMIN_PASSWORD=REDACTED
CF_API_FQDN=api.sys.tanzu.kirkware.net
CF_API_URL=https://api.sys.tanzu.kirkware.net
CF_USERNAME=admin
CF_PASSWORD=REDACTED
CF_APPS_DOMAIN=apps.tanzu.kirkware.net
CF_APPSMAN_URL=apps.sys.tanzu.kirkware.net
CF_ORG=kirkware
CF_SPACE=test
CF_ADMIN_PASSWORD=REDACTED
UAA_ADMIN_CLIENT_CREDENTIALS=REDACTED
OPENAI_API_KEY=REDACTED
ANTHROPIC_API_KEY=REDACTED
EVERKEEP_API_KEY=REDACTED
SPRING_ENTERPRISE_TOKEN=REDACTED
GIT_OAUTH_CLIENT_ID=Ov23liaVaAwqerEUzEYg
GIT_OAUTH_CLIENT_SECRET=REDACTED
GIT_MCP_OAUTH_CLIENT_ID=Ov23libWEgkTo7EobVH5
GIT_MCP_OAUTH_CLIENT_SECRET=REDACTED
TEMP_WORKSPACE=/tmp/kirkware-demos
POSTGRES_PLAN=on-demand-postgres
GITHUB_HOST=github.com